@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Migra Extrabold";
  src: url("/fonts/Migra-Extrabold.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf");
}

* {
  scroll-behavior: smooth;
  /* border: 1px solid red; */
}

body {
  background-color: #007e5d;
  color: white;
  font-family: inter;
}
