@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  /* border: 1px solid red; */
}

body {
  background-color: #007e5d;
  color: white;
  font-family: inter;
}
